<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://cbctestwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cbctestwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CBCTestWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CBCTestWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;Application Name=EntityFramework" Name="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CBCTestWebApp.Models.ApplicationDbContext, CBCTestWebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CBCTestEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;Application Name=EntityFramework" Name="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.Models.CBCTestEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccess.Base.BaseDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;Application Name=EntityFramework" Name="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.Base.BaseDbContext, DataAccess" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CBCTestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CBCDataModel.csdl|res://*/Models.CBCDataModel.ssdl|res://*/Models.CBCDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccess.Base.BaseDbContext-Web.config Connection String">
      <ParameterValue>Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=cbctestdb.database.windows.net;Initial Catalog=CBCTestDb;User ID=CBCTest;Password=Admin1234!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAccess.Base.BaseDbContext" />
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>