<div ng-controller="TaskAdd as vm">
    <form name="addForm" class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{vm.Title}}</span>
            </h4>
        </div>
    </form>
</div>